DATABASE_URL="file:./dev.db"
FAMILY_ACCESS_PASSWORD="change-this-family-password"
FAMILY_AUTH_TOKEN="change-this-random-session-token"
FAMILY_AUTH_COOKIE_SECURE="false"
FAMILY_PUBLIC_URL=""
FILE_STORAGE_DRIVER="local"
OSS_ENDPOINT=""
OSS_BUCKET=""
OSS_REGION=""
OSS_ACCESS_KEY_ID=""
OSS_ACCESS_KEY_SECRET=""
OSS_PUBLIC_BASE_URL=""
